* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
/* body {
  background-color: #0a0a0a; 
  background-image: url("/assets/texture.jpg"); 
  mix-blend-mode: difference; 
  background-size: contain; 
  background-position: center; 
} */

.market-research {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.market-research > li {
  list-style-type: none;
  border: 1px solid white;
  display: block;
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
  margin: 0 40px 0 0;
}

.market-research > li:hover {
  border: 1px solid #005900;
  background-color: #005900;
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.banner-animation-delay {
  background-color: #005900;
  height: 100%;
  width: 0%;
  animation: expandWidthDelay 10s ease infinite forwards;
  animation-delay: 3s;
}
.banner-animation {
  background-color: #005900;
  height: 100%;
  width: 0%;
  animation: expandWidth 10s ease infinite forwards;
  animation-delay: 3s;
}

@keyframes expandWidth {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

@keyframes expandWidthDelay {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.btn-animated {
  cursor: pointer;
  height: 50px;
  padding: 5px 15px;
  background-color: black;
  border: 1px solid #ddd;
  border-radius: 3px;
  color: #ddd;
  font-size: 1.1rem;
  box-shadow: inset 0 0 0 0 #dddddd;
  transition: ease-out 0.3s;
}

.btn-animated:hover {
  box-shadow: inset 0 50px 0 0 #dddddd;
  color: black;
}

.btn-black {
  height: 50px;
  padding: 5px 15px;
  background-color: black;
  border: 1px solid #ddd;
  border-radius: 10px;
  color: #ddd;
  font-size: 1.1rem;
}

.btn-black:hover {
  background-color: #ddd;
  color: #333;
  transition: all 0.5s ease;
  cursor: pointer;
}

.btn-green {
  height: 50px;
  padding: 5px 15px;
  background-color: #005900;
  border: 1px solid #ddd;
  border-radius: 10px;
  color: #ddd;
  font-size: 1.1rem;
  width: 200px;
}

.btn-green:hover {
  background-color: #ddd;
  color: #005900;
  transition: all 0.5s ease;
  cursor: pointer;
}

.progress-bar {
  background-color: #005900;
  height: 100%;
  width: 0%;
}

@keyframes expandWidth {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.icon:hover {
  color: #005900;
  cursor: pointer;
  transform: scale(1.2);
}

.expanding-link a:hover {
  color: #005900;
  transform: scale(1.2);
  transition: transform 0.5s ease;
}

/* .div-animated::before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #005900;
}

.div-animated::after {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
} */
body {
  cursor: none;
  background-color: #111111;
  background-image: url("/assets/11.jpg"); /* Texture image */
  mix-blend-mode: difference; /* Blend mode to overlay the image with the background color */
  background-size: contain;
  background-position: center; /* Center the image */
  background-attachment: fixed;
}

.text-stroke {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}

.btn-animated {
  cursor: pointer;
  height: 55px;
  width: 200px;
  padding: 5px 15px;
  background-color: black;
  border: 1px solid #ddd;
  color: #ddd;
  font-size: 1.1rem;
  box-shadow: inset 0 0 0 0 #005900;
  transition: ease-out 0.5s;
}

.btn-animated:hover {
  box-shadow: inset 0 55px 0 0 #005900;
  color: white;
}

.div-animated::before {
  content: "";
  width: 0;
  height: 4px;
  background-color: #005900;
  margin: 0 auto;
  transition: all 0.3s ease-out;
  border-radius: 30%;
  position: relative;
  top: 2px;
}

.div-animated:hover::before {
  width: 98%;
  transition: all 0.3s ease-out;
}
/* components/CustomCursor.module.css */
.cursor {
  width: 20px; /* Adjust the size of the dot */
  height: 20px;
  background-color: #005900; /* Green color for the dot */
  border-radius: 50%;
  position: fixed;
  pointer-events: none; /* Ensures the cursor does not interfere with clicking elements */
  z-index: 9999; /* Ensures the cursor is above other elements */
  transform: translate(-50%, -50%);
}
